* {
    margin: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --cian: #00e1ff;
}

body {
    background-color: var(--black);
}

#nav {
    padding-left: 125px;
    padding-right: 125px;
}

.car-img {
    height: 692px;
}

#slide {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    #nav {
        padding-left: 25px;
        padding-right: 25px;
        text-align: right;
    }
    #nav:hover {
        background-color: var(--black);
        opacity: 75%;
    }

    /* CAROUSEL*/
    .car-img {
        height: 320px auto;
    }

    #slide {
        height: auto;
        width: 320px auto;
    }

    .car-control {
        height: 220px;
    }
}