* {
    margin: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --cian: #00e1ff;
}

body {
    background-color: var(--black);
}

#nav {
    padding-left: 125px;
    padding-right: 125px;
}

.ci {
    height: 692px;
}

/* #slide {
    height: 100%;
    width: 100%;
} */

