* {
    margin: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --cian: #00e1ff;
}

body {
    background-color: var(--black);
    color: var(--white);
}

#nav {
    padding-left: 125px;
    padding-right: 125px;
}

.car-img {
    height: 692px;
}

#slide {
    height: 100%;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: var(--cian);
    color: white;
}

footer h2,
#foot-icon {
    display: inline-block;
    vertical-align: middle;
}

footer #foot-icon {
    text-align: left;
    width: 40%;
    margin-left: 40px;
}

footer a {
    color: white;
    margin: 0px 10px;
    text-decoration: none;
}

footer p {
    margin-top: 20px;
}

/*MEDIAS QUERY*/
@media (max-width: 768px) {
    #nav {
        padding-left: 25px;
        padding-right: 25px;
        text-align: right;
    }

    #nav:hover {
        background-color: var(--black);
        opacity: 75%;
    }

    /* CAROUSEL*/
    .car-img {
        height: 320px auto;
    }

    #slide {
        height: auto;
        width: 320px auto;
    }

    .car-slide {
        height: 240px;
    }
}